<thead>
  <tr>
    <th>#</th>
    <th>Bander</th>
    <th>Nombre</th>
    <th>Capital</th>
    <th>Población</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let child of data; let i = index">
    <td>{{ i + 1 }}</td>
    <td><img width="50px" [src]="child.flags.png" [alt]="child.name" /></td>
    <td>{{ child.name }}</td>
    <td>{{ child.capital }}</td>
    <td>{{ child.population | number }}</td>
    <td><a [routerLink]="['/country', child.alpha2Code]">Ver...</a></td>
  </tr>
</tbody>
